* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.23;
}

.ok_container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    position: relative;
    /*    display: flex;*/
    /*        flex-direction: column;*/
}

.header__inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    z-index: 10;
}

.logo {
    margin: 23px 0 23px 50px;
}

.header__nav {
    display: flex;
    height: 16px;
    margin: 23px 50px 23px 0;
    transition: all cubic-bezier(0.33, 0.01, 0, 0.99) 500ms;
}

.sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 120%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.75;
    z-index: 10;
    transition: all cubic-bezier(0.33, 0.01, 0, 0.99) 500ms;
}

.header__nav_item:hover > .sub-nav {
    display: block;
    transition: all cubic-bezier(0.33, 0.01, 0, 0.99) 500ms;
}

.header__nav-link,
.sub-nav-link {
    text-decoration: none;
    color: #fff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    /*        transition: all cubic-bezier(0.33, 0.01, 0, 0.99) 500ms;*/
}

.header__nav-link:hover,
.search-btn:hover,
.cart-btn:hover,
.sub-nav-link:hover {
    color: #ec6556;
    text-decoration: none;
}

.sub-nav-link:hover {
    text-outline: 1px solid #999;
    transition: all cubic-bezier(0.33, 0.01, 0, 0.99) 500ms;
}

.header__nav_item {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 44px 0 0;
}

.search-btn,
.cart-btn {
    margin: 5px 0 0 0;
    color: #fff;
    background: none;
    outline: none;
    border: none;
    transition: all cubic-bezier(0.33, 0.01, 0, 0.99) 500ms;
}

.cart-btn {
    margin: 5px 0 0 30px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-pagination {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 30px);

}

.owl-prev,
.owl-next {
    position: absolute;
    top: calc(50% - 30px);
    background-color: #3f3c3c;
    opacity: 0.75;
    font-size: 20px;
    border-radius: 10px;
    padding: 18px 24px;
    color: #fff;
}

.owl-prev {
    left: 20px;
}

.owl-next {
    right: 20px;
}

.owl-prev:hover,
.owl-next:hover {
    background: #ec6556;
}

.owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
}

.owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 5px;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
}

.owl-page.active span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 5px;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    opacity: 1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: linear-gradient(to top, #e86152 0%, #f08b80 100%);
}

.owl-carousel .item::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: #000;
    opacity: 0.35;
    content: '';
}

.slider {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.owl-carousel .item {
    display: flex;
    min-height: 500px;
    height: 100%;
    justify-content: center;

}

.teaser {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 74%;
    text-align: center;
}

.teaser__btn {
    text-transform: uppercase;
    font-size: 16px;
    padding: 14px 22px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 600;
    line-height: 24px;
    border: 1px solid #e16051;
    border-radius: 5px;
    background-color: #ec6556;
    background-image: linear-gradient(to top, #e86152 0%, #f08b80 100%);
    outline: none;
}

.btn:hover {
    background-image: linear-gradient(to top, #f08b80 0%, #e86152 100%);
    color: #ffffff;
    outline: none;
}

.btn:active {
    background-image: linear-gradient(to top, #e86152 0%, #f08b80 100%);
    color: #ffffff;
    outline: none;
}

.teaser__sub-title {

    margin: 0 0 24px 0;
}

.teaser__title {

    margin: 0 0 24px 0;
}

.title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.23x;
}

.sub-title {
    color: #ffffff;
    font-family: Allura;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.23;
}

.teaser p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.71;
    margin: 0 0 35px 0;
}

.menu {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: url(../images/section2.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu_inner {
    text-align: center;
}


.menu .fa,
.menu .fas,
.daily_menu .fa,
.daily_menu .fas,
.book .fa,
.book .fas,
.chief .fa,
.chief .fas {
    margin: 15px 0 0 0;
    color: #ec6556;
    font-size: 16px;
}

.menu .img1 {
    position: absolute;
    top: 0;
    left: 0;
}

.menu .img2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.menu_sub-title,
.book_sub-title,
.chief_sub-title {
    margin: 100px 0 0 0;
    color: #ec6556;
    font-family: Allura;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
}

.menu__btn {
    padding: 7px 20px;
    font-size: 14px;
    outline: none;
}

.menu_title,
.book_title,
.chief_title {
    margin: 30px 0 0 0;
    color: #3f3c3c;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.menu_inner p {
    margin: 40px 0 50px 0;
    color: #737171;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.menu__gallery {
    margin: 50px -15px 100px;
    display: flex;
    flex-wrap: wrap;
}

.breakfast_thumb,
.lunch_thumb,
.dinner_thumb {
    position: relative;
    width: calc(33.3% - 30px);
    margin: 0 15px;
}

.breakfast_thumb img,
.lunch_thumb img,
.dinner_thumb img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.thumb_caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    text-align: center;
    justify-content: center;
}

.breakfast_thumb::before,
.lunch_thumb::before,
.dinner_thumb::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: #000;
    border-radius: 10px;
    opacity: 0.35;
    content: '';
}

.gallery-title {
    padding: 3.75rem 0 0 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: Raleway;
    font-size: 2.14rem;
    font-weight: 700;
}

.gallery-sub-title {
    padding: 1.1rem 0 0 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 1.14rem;
    font-weight: 700;
    line-height: 1.41;
    text-transform: uppercase;
}

.thumb_caption span {
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #ec6556;
    margin: 20px 0 0 0;
}

.daily_menu {
    width: 100%;
    max-height: 854px;
    margin: 0 auto;
}

.daily_menu__inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.daily_menu__list {
    display: flex;
}

.menu__list_item {
    margin: 40px auto 0;
}

.daily_menu__btn {
    margin: 50px 0 100px 0;
    padding: 8px 20px 8px;
}

.daily_menu .nav {
    margin: 40px 0 0 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ec6556;
}

.nav-link {
    color: #595757;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    line-height: 2;
    margin: 0 4px;
}

.daily_menu__link {
    display: block;
}

.price_list_item {
    padding: 0 0 25px 0;
}

.price_list_item__point {
    flex-wrap: nowrap;
}

.price_list_item__point .first {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: initial;
    color: #737171;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    font-weight: 700;
    /*    margin: 0 0 0 15px;*/
}

.price_list_img img {
    max-width: 300px;
    height: auto;
}

.price_list_item__point .last {
    color: #737171;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    font-weight: 700;
}

.price_list_left_col {
    margin: 0 15px 50px 0;
}

.price_list_right_col {
    margin: 0 0 50px 15px;
}

.price_list_item__abstaract {
    margin: 0 0 0 -15px;
    justify-content: left;
    color: #b1b1b1;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: italic;
    line-height: 26px;
}

.book {
    background-color: #3f3c3c;
    opacity: 0.75;
    text-align: center;
}

.book_title {
    color: #fff;
    margin: 5px 0 0 0;
}

.open_hours {
    color: #e9e9e9;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 40px 0 0 0;
}

.book_form {
    margin: 0;
}

book_form__col {
    width: 50%;
}

.input_cell {
    display: block;
    width: 100%;
    color: #9f9e9e;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    padding: 3px 0 2px 15px;
    margin: 30px 0;
    border-radius: 5px;
    border: none;
}

.input_cell:focus {
    color: #3f3c3c;
}

.book__btn {
    margin: 0 0 80px 0;
}

.chief {
    text-align: center;
}

.chief__inner {
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin: 40px auto 0;
}

.chief__img {
    width: 100%;
    max-width: 360px;
    display: block;
    float: left;
}

.chief_img_title {
    background-color: #ec6556;
    color: #e9e9e9;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: italic;
    line-height: 1.12;
    border-radius: 5px;
}

.chief_img_title .caption {
    display: block;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.41;
    padding: 20px 0 12px 0;
}

.social_links li {
    padding: 20px 0;
}

.social_links a {
    padding: 0 15px;
    font-size: 16px;
    color: #FFF;
}

.chief_about {
    position: relative;
    display: block;
    text-align: left;
    margin: 0 0 0 125px;
    color: #737171;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.chief_about .title {
    color: #3f3c3c;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 32px 0;
}

.chief_about .skills {
    margin: 12px 0 30px 14px;
}

.chief_about .skills i {
    font-size: 12px;
    margin: 7px 17px 0 14px;
}

.chief_about .skills li {
    padding: 17px 7px 0 0;
}
.chief_about .sign{
    margin: 30px 0 0 0;
}
