* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
}

.header {
    height: 600px;
    background: url(../images/tag_page.jpg) top center no-repeat;
}


.main__box {
    width: 1200px;
    margin: 0 auto 0;
}

.row-1 {
    margin: 110px auto 0;
    width: 100%;
    height: 660px;
}

.row-2 {
    margin: 60px auto 60px;
    width: 100%;
    height: 660px;
}

.col-1,
.col-2,
.col-3 {
    float: left;
    width: 30%;
    margin: 0 30px 0 0;
}

.col-3 h2 {
    text-decoration: underline;
}

.col-img {
    top: 30px;
    box-shadow: 30px -30px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 32px;
}

.col-1 p,
.col-2 p,
.col-3 p{
    /* Style for "July 03, 2" */
    display: block;
    color: #7e7e7e;
    font-family: Amiri;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 28px;

}
.col-1 h2,
.col-2 h2,
.col-3 h2{
    /* Style for "Sed Eiusmo" */
    display: block;
    color: #2c2929;
    font-family: 'Noto Serif', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 35px;
}

/*.article,*/
.col-1 p:nth-of-type(2),
.col-2 p:nth-of-type(2),
.col-3 p:nth-of-type(2){
    /* Style for "Lorem ipsu" */
    display: block;
    color: #4b4b4b;
    font-family: Amiri;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 33px;
}

.col-1 p:nth-of-type(3),
.col-2 p:nth-of-type(3),
.col-3 p:nth-of-type(3) {
    /* Style for "READ MORE" */
    display: block;
    color: #c89935;
    font-family: Amiri;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.col-1 p:last-of-type,
.col-2 p:last-of-type,
.col-3 p:last-of-type {
    /* Style for "by John Do" */
    color: #7e7e7e;
    font-family: Amiri;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.page_counter {
    /* Style for "Page 1 / 1" */
    position: relative;
    left: 50%;
    margin: 10px auto 80px;
    color: #4b4b4b;
    font-family: "Noto Serif";
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
}

.current_page,
.fern {
    color: #c89935;
}

.footer {
    height: 60px;
    background-color: #f1f1f1;
}

.footer-box {
    width: 1112px;
    height: 60px;
    margin: auto;
}

.copyright {
    float: left;
    margin: 0 auto 0;
    padding: 17px 0 17px;
    color: #4b4b4b;
    font-family: Amiri;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.soc-links {
    float: right;
    width: 150px;
    height: 60px;
    padding: 24px 0 17px;
}

.soc-links li {
    display: inline;
    padding-right: 14px;
}
