
.overlay{
	background-color: #000;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;

}

.modal-wrap{
	background: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding: 0 50px;
}

.modal {
	width: 500px;
	border-radius: 10px;
	margin: 0 auto;
	padding: 10px;
	background: #fff;
}
