
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	line-height: 1.23;
	font-family: 'Oswald', sans-serif;
}


.container{
	max-width: 1170px;
	margin: 0 auto;
}


.row{
	display: flex;
	flex-wrap: wrap;
}

	.col{
		padding: 0 20px 20px;
		width: calc(100% / 6 - 30px);
		margin: 15px;
		height: 150px;
		background-color: red;
	}

@media only screen and (max-width: 992px) {
	.col{
		width: calc(100% / 3 - 30px);
		background-color: pink;
	}
}



.overlay,
.modal-wrap{
	position: fixed;
	opacity: .6;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
}

.modal-wrap{
	opacity: 1;
	background: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding: 50px 0;
}

.modal{
	width: 500px;
	margin: 50px auto;
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
}