* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 60px 0 0 0;
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    justify-content: center;*/
}

.header {
    width: 1145px;
    height: 240px;
    margin: 0 auto 60px;
    background: #fff;
    position: relative;
}

.header img {
    position: absolute;

}

.right {
    position: absolute;
    left: 200px;
}

.header h2 {
    color: #1a1a1a;
    font-family: "Alegreya Sans";
    font-size: 30px;
    font-weight: 500;
    line-height: 26px;
    padding: 40px 0 0 40px;
}

.header p,
.header .link {
    display: inline-block;
    padding: 20px 0 0 40px;
    color: #5a5a5a;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: italic;
    line-height: 26px;
}

.header cite {
    display: inline-block;
    padding: 20px 100px 0 40px;
    color: #5a5a5a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
}

.header .link {
    text-decoration: none;
}

.soc_net {
    position: absolute;
    right: 0;
    top: 0;
}

.soc_net li {
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.soc_net li:last-child {
    border-bottom: none;
}

.soc_net a {
    display: block;
    width: 60px;
    height: 60px;
}

li img {
    margin: 22px;
}

.main_box {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    overflow: auto;
}

.mar-top-30 {
    margin-top: 30px;
}

.column {
    display: block;
    width: 25%;
    padding: 0 15px;
}

.column__cell {
    background-color: #fff;
}

.img {
    width: 100%;
    height: 100%;
}

.fader {
    background-color: #0b0b0b;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.div {
    padding: 15px 30px;
}

.div time {
    color: #a0a0a0;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: italic;
    line-height: 30px;
}

span {
    font-family: "Open Sans";
    font-size: 13px;
    font-style: italic;
    line-height: 30px;
    color: #1d1d1d;
}

.div p {
    color: #5a5a5a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 0;
}

.div h3 {
    color: #1a1a1a;
    font-family: "Alegreya Sans";
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 15px 0;
}

.div a {
    color: #1a1a1a;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    text-decoration: none;
    margin: 15px 0 30px;
}

.column__cell_bg {
    position: relative;
    height: 500px;
    background: url(../images/Layer_6.png) 100% 100% no-repeat;
    background-size: cover;
    margin: 30px 0 0 0;
}

.column__cell_bg_pic2 {
    position: relative;
    height: 500px;
    background: url(../images/Layer_4.png) 100% 100% no-repeat;
    background-size: cover;

}

.column__cell_bg .div,
.column__cell_bg_pic2 .div {
    position: absolute;
    left: 0;
    bottom: 0;
}

.column__cell_bg_pic2 time,
.column__cell_bg_pic2 h3,
.column__cell_bg_pic2 a,
.column__cell_bg_pic2 p,
.column__cell_bg time,
.column__cell_bg h3,
.column__cell_bg a,
.column__cell_bg p {
    color: #fff;
}
