*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	
}
ul,li{
	list-style-type: none;	
}
a {
	text-decoration: none;	
}
.container{
	max-width: 1720px;
	margin: 0 auto;

}
.main-contenet{
	display: flex;
	margin: 0 -15px;
	
	
}
.col{
	background: #f1f1f1;
	width: 25%;
	padding: 15px;
	
}
.post{
	margin-bottom: 15px;
	position: relative;
}
.post__img{
	
}
.post__caption{
	background: #fff;
	padding: 30px;
	
}

time{
	color: #a0a0a0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: 30px;
	margin-bottom: 20px;
}
time span{
	color: #1d1d1d;
}
.img-260{
	width: 100%;
	height: 260px;
}

.img-500{
	width: 100%;
	height: 500px;
	
}

.img-350{
	width: 100%;
	height: 350px;
}

.post__caption h2{
	color: #1a1a1a;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 35px;
}

.post__caption  p{
	color: #5a5a5a;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 30px;
}

.post__caption a{
	color: #1a1a1a;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: 400;
}

.post__caption a:hover{
	color: #d33f3f;
}
.post__caption-z{
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	color: #fff; /*не сработал цвет*/
	background-color: #0b0b0b;
	opacity: 0.4;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.post__caption-z a, .post__caption-z p, .post__caption-z h2, .post__caption-z time, .post__caption-z span{
	color: #fff;
}
