*{
	box-sizing: border-box;
}
body{
	background-color: #F0EFEF;
}
.conteiner{
	font-family: 'Nanum Gothic', sans-serif;
	margin: 0 auto;
	max-width: 1240px;
}
	.row{
		display: flex;
		margin-right: -15px;
		margin-left: -15px;
	}
		.col{
			width: calc(25% - 30px);
			margin-left:  15px;
			margin-right: 15px;
			display: flex;
			flex-direction: column;
		}
		.box{
			background-color: white;
			margin-top: 15px;
			margin-bottom: 15px;
			padding-bottom: 30px;
		}
		/*.box__excep1{
			background: url(../images/005.jpg);
			background-size: 100% auto;
			margin-top: 15px;
			margin-bottom: 15px;
			display: flex;
			align-items: flex-end;
			height: 510px;
			padding-bottom: 30px;
			color: white;
		}*/
		.box__excep2{
			background: url(../images/005.jpg);
			background-size: 100% 100%;
			margin-top: 15px;
			margin-bottom: 15px;
			display: flex;
			align-items: flex-end;
			height: 612px; 
			padding-bottom: 30px;
			color: white;
		}
			img{
				width: 100%;
				height: auto;
				margin-bottom: 25px;
			}
			.content{
				padding-left: 25px;
			}
				.content__data{
					font-style: oblique;
					color: #C5C3C3;
					margin-bottom: 15px;
					font-size: 10px;
				}
				.content__head{
					font-family: 'Lato', sans-serif;
					font-weight: bold;
					font-size: 16px;
					margin-bottom: 25px;
					line-height: 26px;
				}
				.content__txt{
					font-size: 10px;
					line-height: 24px;
					margin-bottom: 25px;
				}
				a{
					font-size: 10px;
					font-style: oblique;
					text-decoration: none;
					margin-bottom: 30px;
					color: inherit;
				}
				.box .content a::after{
					background: url(../images/arrow.png) 0 0 no-repeat;
					-webkit-background-size: 20px auto;
					background-size: 20px auto;
				}
				span{
					color: black;
				}