* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #f1f1f1;
}

.carousel__item {
    padding: 0 15px
}

.carousel__item img {
    max-width: 100%;
    height: auto;
}

.owl-pagination {
    padding: 20px 0;
    text-align: center;
}

.owl-page {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgrey;
}

.owl-page.active {
    background-color: grey;
}

.owl-prev {
    position: absolute;
    top: calc(50% - 68px);
    left: 50px;
}

.owl-next {
    position: absolute;
    top: calc(50% - 68px);
    right: 50px;
}

.owl-prev,
.owl-next {
    font-weight: 900;
    font-size: 70px;
    color: darkcyan;
